.movie {
    position: relative;
    display: flex;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    border-spacing: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 4.3s;
    margin: 20px;
}

.movie::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.9)
    ); /* Gradient and image */
    transition: opacity 0.3s;
    opacity: 0;
}

.movie:hover::before {
    opacity: 1;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex: 1;
}

.poster {
    border-radius: 10px;
    padding-right: 5px;
}

.hover-content > .rating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.append,
.append > * {
    display: none;
}

.delete,
.delete > * {
    display: none;
}

.movie:hover .delete {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.movie:hover .append {
    display: block;
    bottom: 0;
    right: 0;
    position: absolute;
}

.movie:hover .append > * {
    display: block;
}

.movie:hover .delete > * {
    display: block;
}

.movie:hover .rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    gap: 20px;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    gap: 20px;
}

.hover-image {
    width: 50px;
}

.hover-content > .rating > * {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
