.tab-button {
    width: 200px;
    background-color: #ccc;
    float: left;
    cursor: pointer;
    padding: 10px 20px;
}

.tab-button:hover {
    background-color: #ddd;
}

@media (max-width: 1417px) {
    .tab-button{
        width: 300px;
    }
}

@media (max-width: 977px) {
    .tab-button{
        width: 50%;
    }
}